body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icons a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.nav-item a {
color: #ffffff;
}

footer {
    background-color: #343a40;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}